<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds"> <!-- logback 구현체가 설정을 확인하는 주기 -->
    <property name = "moduleId" value="around_hub_spring_boot"/> <!--moduleId는 프로젝트가 설치된 폴더명 또는 구분할 수 있는 식별자이면 됨 -->
    <property name = "type" value="around_hub"/> <!--로그파일명을 구성하는 인자 -->
    <property name = "logback" value="logback"/> <!--로그를 저장할 최종 디렉토리 명 -->
    <property name = "logdir" value="/Users/leeseungkyu/Desktop/LOG"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{30} %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>